@model LegueCreateEditModel
@{
    ViewBag.Title = "Leagues";
}

<h3 class="text-dark mb-4">@ViewBag.Action League</h3>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive table mt-2">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>League info</th>
                        <th>Teams</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="vertical-align: top;">
                        <td>
                            <div>
                                <partial name="_PhotoFull" model="@Model.PhotoString" />
                            </div>
                            <div class="d-sm-flex justify-content-start align-items-start mb-4" asp-validation-summary="All" class="text-danger">
                                <form asp-action=@ViewBag.Action enctype="multipart/form-data">
                                    <div>
                                        <input type="hidden" asp-for="PhotoString" />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Name" class="form-label"></label>
                                        <input asp-for="Name" asp-item="Model.FullName" asp-item="Model.FullName" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="NumberOfTeams" class="form-label"></label>
                                        <input asp-for="NumberOfTeams" asp-item="Model.NumberOfTeams" class="form-control" />
                                        <span asp-validation-for="NumberOfTeams" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="SeasonStartDate" class="form-label"></label>
                                        <input asp-for="SeasonStartDate" asp-item="Model.SeasonStartDate" type="date" class="form-control" />
                                        <span asp-validation-for="SeasonStartDate" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="SeasonFinishDate" class="form-label"></label>
                                        <input asp-for="SeasonFinishDate" asp-item="Model.SeasonFinishDate" type="date" class="form-control" />
                                        <span asp-validation-for="SeasonFinishDate" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Description" class="form-label"></label>
                                        <textarea asp-for="Description" asp-item="Model.Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="PhotoFile" class="form-label"></label>
                                        <input asp-for="PhotoFile" type="file" class="form-control" />
                                        <span asp-validation-for="PhotoFile" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary btn-sm" type="submit">
                                            @ViewBag.Action
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                        @if (ViewBag.Action != "Create")
                        {
                            <td>
                                <div>
                                    <partial name="~/Areas/Admin/Views/Team/List.cshtml" model="@Model.TeamsPageModel" />
                                </div>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScripts" />
}