@model string
@{
    ViewBag.Title = "Error";
}
<div class="text-center mt-5">
    <p class="m-3">@Model</p>
</div>
<div>
    <p class="text-dark mb-5 lead">Error</p>   
    <a asp-controller="Welcome" >← Back</a>
</div>